In [1]:
###code 3-1
print("Enter your name:")
somebody = input()
print("Hi", somebody, "How are you today?")

Enter your name:
minji
Hi minji How are you today?

In [2]:
### code 3-2
temperature = float(input("온도를 입력하세요"))
print(temperature)

온도를 입력하세요103
103.0

In [8]:
print("본 프로그램은 섭씨온도를 화씨온도로 변환하는 프로그램입니다.")
print("변환하고 싶은 섭씨온도를 입력하세요.")

celsius = input()
fahrenheit = (float(celsius)*1.8)+32
    
print("섭씨온도", celsius)
print("화씨온도", round(fahrenheit,4))

본 프로그램은 섭씨온도를 화씨온도로 변환하는 프로그램입니다.
변환하고 싶은 섭씨온도를 입력하세요.
32.2
섭씨온도 32.2
화씨온도 89.96

In [7]:
###반올림
round(fahrenheit,2) #round: 깔끔하게 수 떨터트리고 싶을때

89.96

# 04 리스트의 이해

In [9]:
###code 3-4
colors = ['red', 'blue', 'green']
print(colors[0])
print(colors[2])
print(len(colors))  #리스트에 들어있는 원소 개수

red
green
3

인덱싱과 슬라이싱

In [10]:
cities = ['서울', '부산', '인천', '대구', '대전', '광주', '울산','수원']
cities

['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']

In [11]:
cities = ['서울', '부산', '인천', '대구', '대전', '광주', '울산','수원']
cities[0:6]

['서울', '부산', '인천', '대구', '대전', '광주']

In [12]:
cities[0:5]

['서울', '부산', '인천', '대구', '대전']

In [14]:
cities[5:]

['광주', '울산', '수원']

In [15]:
cities[:5]

['서울', '부산', '인천', '대구', '대전']

In [16]:
cities[:]

['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']

In [17]:
cities

['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']

In [18]:
cities[-8:]

['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']

In [20]:
cities[-8:-3]

['서울', '부산', '인천', '대구', '대전']

In [21]:
cities[:-3]

['서울', '부산', '인천', '대구', '대전']

In [22]:
cities[0:]

['서울', '부산', '인천', '대구', '대전', '광주', '울산', '수원']

In [23]:
cities[::2]

['서울', '인천', '대전', '울산']

In [24]:
cities[::-1]

['수원', '울산', '광주', '대전', '대구', '인천', '부산', '서울']

리스트의 연산

In [19]:
color = ['red','blue','green']

In [20]:
color = ['red','blue','green']
color = color + ['green','black','purple']

In [21]:
color

['red', 'blue', 'green', 'green', 'black', 'purple']

In [22]:
color = ['red','blue','green']

In [23]:
color.insert(0,'orange')
#•insert( ) 함수 : 기존 리스트의 i 번째 인덱스에 새로운 값을 추가, 
#i 번째 인덱스를 기준으로 뒤쪽의 인덱스가 하나씩 밀림

In [24]:
color

['orange', 'red', 'blue', 'green']

In [25]:
color.remove('red')

In [26]:
color

['orange', 'blue', 'green']

In [11]:
color = ['red','blue','green']

In [12]:
color[0] = 'orange'
color

['orange', 'blue', 'green']

In [13]:
t = [1,2,3]
a, b, c = t

In [15]:
len(t)

3

In [16]:
a, b, _ = t

In [17]:
t

[1, 2, 3]

# 이차원 리스트

In [28]:
kor_score = [49,79,20,100,80]
math_score = [43,59,85,30,90]
eng_score = [49,79,48,60,100]
midterm_score = [kor_score, math_score, eng_score]
midterm_score

[[49, 79, 20, 100, 80], [43, 59, 85, 30, 90], [49, 79, 48, 60, 100]]

In [29]:
midterm_score[1]

[43, 59, 85, 30, 90]

In [31]:
print(midterm_score[0][2])

20

In [32]:
math_score[2]

85

In [34]:
midterm_score[1][2]

85

In [35]:
midterm_score[0][3]

100

In [36]:
math_score[0]=1000
math_score

[1000, 59, 85, 30, 90]

In [37]:
midterm_score #위에서 math를 바꾸면 midterm도 바뀜
#리스트는 값이 아닌 주소를 저장하는 것 이기 때문에

[[49, 79, 20, 100, 80], [1000, 59, 85, 30, 90], [49, 79, 48, 60, 100]]

In [38]:
a=1
b=1

In [39]:
a==b

True

In [40]:
a is b

True

In [41]:
a = [5,4,3,2,1]
a

[5, 4, 3, 2, 1]

In [42]:
a.sort()    #sort(): 정렬된 새로운 리스트
a

[1, 2, 3, 4, 5]

In [43]:
a.sort(reverse=True)
a

[5, 4, 3, 2, 1]