In [3]:
a=[1,2,3,4,5]
a.append(10)
a
a.append(20)
a

[1, 2, 3, 4, 5, 10, 20]

In [4]:
a.pop()  #제일 뒤에있는 값 뽑아옴

20

In [5]:
a   #맨 뒤값 없어짐

[1, 2, 3, 4, 5, 10]

In [6]:
a.pop()

10

In [7]:
a

[1, 2, 3, 4, 5]

In [15]:
word=input("Input a word:")
world_list=list(word)
print(world_list)

result=[ ]
for _ in range(len(world_list)):
    result.append(world_list.pop())
    
print(result)
print(word[::-1])

Input a word:PYTHON
['P', 'Y', 'T', 'H', 'O', 'N']
['N', 'O', 'H', 'T', 'Y', 'P']
NOHTYP

In [16]:
a.pop(0)

1

In [17]:
a

[2, 3, 4, 5]

In [18]:
###튜플
t = (1,2,3)
t

(1, 2, 3)

In [19]:
t+t

(1, 2, 3, 1, 2, 3)

In [20]:
t*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [21]:
len(t)

3

In [22]:
t[1] = 5

TypeError: 'tuple' object does not support item assignment

In [36]:
###세트
s = set([1,2,3,1,2,3])
s
s = set([1,2,3,1,2,3,4])
s

{1, 2, 3, 4}

In [35]:
s.add(5)    #값추가
s

{3, 4, 5}

In [37]:
s.remove(1)  #값 삭제(원소하나 제거)
s

{2, 3, 4}

In [38]:
s.update([1,4,5,6,7])   #새로운 리스트를 그대로 추가
s

{1, 2, 3, 4, 5, 6, 7}

In [39]:
s.discard(3)     #원소하나 제거
s

{1, 2, 4, 5, 6, 7}

In [40]:
s.clear()        #다지움
s

set()

In [41]:
s1 = set([1,2,3,4,5])
s2 = set([3,4,5,6,7])

In [44]:
#합집합
s1.union(s2)
s1|s2

{1, 2, 3, 4, 5, 6, 7}

In [45]:
#교집합
s1 & s2

{3, 4, 5}

In [46]:
#차집합
s1 - s2

{1, 2}

In [52]:
t = (1)
t

1

In [59]:
t = (1,2,3)
type(t)

tuple

In [60]:
t = (1)  #하나많 넣으면 tuple로 인식못함 그래서 값 바꿀 수 있음
type(t)

int

In [61]:
t = (1,)  
type(t)

tuple

딕셔너리

In [47]:
student_info = {20140012:'Sungchul', 20140059:'Jiyong', 2-140058:'JaeHong'}

In [48]:
student_info[20140012]   #자료형을 잘알고 호출해야한다.

'Sungchul'

In [50]:
student_info[20140012] = 'Janhyeok'
student_info[20140012]
student_info[20140039] = 'Wonchul'
student_info

{20140012: 'Janhyeok',
 20140059: 'Jiyong',
 -140056: 'JaeHong',
 20140039: 'Wonchul'}

In [53]:
country_code={}
country_code={"America":1,"Korea":82,"China":86,"Japan":80}
country_code.keys()

dict_keys(['America', 'Korea', 'China', 'Japan'])

In [54]:
country_code["German"]=49
country_code

{'America': 1, 'Korea': 82, 'China': 86, 'Japan': 80, 'German': 49}

In [55]:
country_code.values()

dict_values([1, 82, 86, 80, 49])

In [56]:
for k,v in country_code.items():
    print("key:",k)
    print("Values:",v)

key: America
Values: 1
key: Korea
Values: 82
key: China
Values: 86
key: Japan
Values: 80
key: German
Values: 49

In [57]:
"Korea"in country_code.keys()

True

In [58]:
82 in country_code.values()

True